body {
	padding: 0;
	margin: 0;
}

.MAIN {
//border: 4px solid pink;
	//width: 1440px;
	margin: 0 auto;
}

.main_menu {
//border: 4px solid violet;
	height: 100px;
}


.logo {
//border: 4px solid red;
	width: 7%;
}

.container {
//border: 4px solid pink;
	width:  81vw;//1170px;
	margin: 0 auto;
	height: 662px;
}

.nav {
//border: 4px solid green;	
	display: flex;
	align-items: center;
	padding-top: 17px;
}














.menu {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
}

.menu li {
	font-size: 12px;
	margin-right: 25px;
}

.menu li a {
	color: #000;

}


.menu li a:hover {
	color: #1ecbc6;
}


a {
	text-decoration: none;
}


ul,li {
	display: block;
}









.We {
//border: 4px solid brown;
	display: flex;
	margin-top: 153px;
}

.Design_and_Develop {
//border: 4px solid yellow;
	//margin-left: 606px;
}

.Design_and_Develop p {
	color: #787878;
}

.Design_and_Develop a {
	background: #10c9c3;
	color: #FFF;
	width: 218px;
	display: block;
	text-align: center;
	padding: 17px 0;
	transition: all 0.5s ease;
	margin: 30px auto;//margin-top: 35px;
}

.Design_and_Develop a:hover {
	background: #eccb2e;
}







.container2 {
//border: 4px solid pink;
	//width: 1440px;
	margin: 0 auto;
	
	background-image: url(../img/steve-neophytou-CUjkzTJ14rE-unsplash.jpg);	
	background-size: 224% 400%;
}

.about_us { 
//border: 4px solid yellow;
	//height: 418px;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 110px;
	
	
	background: rgba(0,0,0,0.5);
}

.Divide { 
//border: 4px solid black;
   color: white;
}












.BOX {
//border: 4px solid green;
    height: 40vw;//570px;
    display: flex;
    font-size: 16px;
}


.box1 {
//border: 4px solid red;
     width: 50vw;//720px;
     background-color: #e1e1e1;
	 background-image: url(../img/about-me.jpg);
	 background-size: cover;
}


.box2 {
//border: 4px solid pink;
     width: 50vw;//720px;
     background-color: #f5f5f5;
}

.box11 {
//border: 4px solid orange;
     //width: 400px;
     margin-left: 8vw;//115px;
     margin-top: 7vw;
     font-size: 1em;
}

@media screen and (max-width: 1500px) {

		.box11 {
		//border: 4px solid orange;
		     //width: 400px;
		     margin-left: 8vw;//115px;
		     margin-top: 7vw;

		}

}












.blue {
//border: 4px solid yellow;
     height: 140px;
     background-color: #00cac4;
	 //width: 100vw;//1440px;

     

	display: flex;
	padding-top: 50px;


}
.menu2 {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
	color: #ffffff;
}

.menu2 li {
	font-size: 12px;

}

.menu2 li a {
	color: #ffffff;
}

.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 11vw;//130px;//11vw;
}

@media screen and (max-width: 1500px) {

	.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 9vw;//130px;//11vw;
	}

}











.miniBOX1 {
//border: 4px solid green;
    height: 320px;
    display: flex;
}


.serii {
//border: 4px solid red;
     width: 360px;
     background-color: #848484;
}


.belii {
//border: 4px solid pink;
     width: 360px;
     background-color: #DEDEDE ;
}

.chornii {
//border: 4px solid pink;
     width: 360px;
     background-color: #202020;
     text-align: center;
     padding-top: 145px;    
}











.load {
//border: 4px solid yellow;
     height: 100px;
     background-color: #F5F5F5;
	 width: 1440px;
     text-align: center;
   
}

.h  {
margin: 0;
padding-top: 40px;
color: #8e8e8e;
}










.video  {
          height: 840px;
          margin-top: 90px;
          text-align: center;
          
}

.player {
     height: 570px;
     width: 1170px;
	margin: 0 auto;
    margin-top: 50px;
    background-color: #E5E5E5;
}











.f  {
//border: 4px solid black;
    height: 460px;
    margin-top: 90px;
    padding-top: 110px;
    text-align: center;          
    background-color: #F5F5F5;
}

.minif  {
//border: 4px solid red;
	height: 230px;
	display: flex;
}

.bf	{
//border: 4px solid blue;
	 width: 360px;
}











.blue2	{
	    height: 400px;
	    background-color: #00cac4;
	    color: #ffffff;
	    text-align: center;  
	    padding-top: 150px;
}

			










.w	{
//border: 4px solid red;
	height: 200px;
	display: flex;
}

.l	{
//border: 4px solid pink;
	width: 288px;
	text-align: center; 
	padding-top: 63px;
}











.login	{
	//height: 752px;
	//background-color: #f5f5f5;
	text-align: center; 
	padding-top: 93px;
	padding-bottom:  93px;
}

.forms	{
//border: 4px solid red;
	margin: 0 auto;
	margin-top: 40px;
	width: 691px;
	height: 439px; 	
}








.inf   {
	height: 100px;
	display: flex;
	background-color: #141414;	
	color: #bcbcbc;
	padding-top: 60px; 
	//text-align: center;
}

.inf h3  {
	//margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.t1	{
//border: 4px solid red;
	position: absolute;
    left: 100px;
	//margin-left: 96px;
	//margin-right: 390px;
}

.t2	{
//border: 4px solid red;
	margin: 0 auto;
	//margin-left: 140px;
	//margin-right: 59px;
}

.t3	{
//border: 4px solid red;
	position: absolute;
    right: 100px;
	//margin-left: 500px;
}