html {
    margin-left: -32px;
}

body {
	padding: 0;
	margin: 0;
}

.MAIN {
//border: 4px solid pink;
	//width: 1440px;//100vw;//
	margin: 0 auto;
}



.main_menu {
//border: 4px solid violet;
	height:88vh;//670px;//100%;//
	//background-color: #e9e9e9;

}
#mm{
	background-image: url(img/sajjad-ahmadi-_QcV5rcc04k-unsplash.jpg);	
	background-position: right top;
	background-size: 120% 180%;
}


.logo {
//border: 4px solid red;
	width: 7%;
}

.container {
//border: 4px solid pink;
	width:  81vw;//1170px;
	margin: 0 auto;
	height: 662px;
}

.nav {
//border: 4px solid green;	
	display: flex;
	align-items: center;
	padding-top: 17px;
}














.menu {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
}

.menu li {
	font-size: 12px;
	margin-right: 25px;
}

.menu li a {
	color: #000;

}


.menu li a:hover {
	color: #4e92ab; //#1ecbc6;
}


a {
	text-decoration: none;
}


ul,li {
	display: block;
}









.We {
//border: 4px solid brown;
	display: flex;
	margin-top: 153px;
}

.Design_and_Develop {
//border: 4px solid yellow;
	margin-left: auto;
}

.Design_and_Develop p {
	color: #787878;
}

.Design_and_Develop a {
	background: #10c9c3;
	color: #000;
	width: 218px;
	display: block;
	text-align: center;
	padding: 17px 0;
	transition: all 0.5s ease;
	margin-top: 35px;
}

.Design_and_Develop a:hover {
	background: #eccb2e;
}








.about_us { 
//border: 4px solid yellow;
	height: 418px;
	text-align: center;

}

.container2 {
//border: 4px solid pink;
	width: 1170px;
	margin: 0 auto;
}


.Divide { 
//border: 4px solid black;
    margin-top: 90px;
}






















.BOX {
	//border: 4px solid green;
    height: 760px;//40vh;
    display: flex;
    margin-left: 16px;
    width: 100vw;
	}




@media screen and (max-width: 1500px) {

	.BOX {
	//border: 4px solid green;
    height: 570px;//40vh;
    display: flex;
    //margin-left: -16px;
    width: 100vw;
	}
	
}





.box1 {
//border: 4px solid red;
     width: 50vw;//720px;
     background-color: #f8faf9;
}


.box2 {
//border: 4px solid pink;
     width: 50vw;//720px;
     background-color: #e9e9e9;
	 
	background-image: url(img/zeke-tucker-Vy4lR2NhfX0-unsplash.jpg);	
	background-size: Cover;
}

.box11 {
//border: 4px solid orange;
     width: 50vw;//400px;
     margin-left: 115px;
     margin-top: 100px;
}














.blue {
//border: 4px solid yellow;
     height: 140px;
     background-color: #00cac4;
	 //width: 100vw;//1440px;

     

	display: flex;
	padding-top: 50px;


}
.menu2 {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
	color: #ffffff;
}

.menu2 li {
	font-size: 12px;

}

.menu2 li a {
	color: #ffffff;
}

.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 11vw;//130px;//11vw;
}

@media screen and (max-width: 1500px) {

	.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 9vw;//130px;//11vw;
	}

}










.miniBOX1 {
//border: 4px solid green;
    height: 427px;
    display: flex;
}

@media screen and (max-width: 1500px) {
.miniBOX1 {
//border: 4px solid green;
    height: 320px;
    display: flex;
}
}

.serii {
//border: 4px solid red;
     width: 26vw;// 360px;
     //background-color: #848484;
}


.belii {
//border: 4px solid pink;
     width: 26vw;// 360px;
     background-color: #DEDEDE ;
}

.chornii {
//border: 4px solid pink;
     width: 26vw;//360px;
     //background-color: #202020;
     text-align: center;
     padding-top: 145px;    
}

#mb1{
	background-image: url(img/portfolio-1.jpg);
	background-size: Cover;
}
#mb2{
	background-image: url(img/portfolio-2.jpg);
	background-size: Cover;
}
#mb3{
	background-image: url(img/portfolio-5.jpg);
	background-position: left;
	background-size: 100% 143%;
}
#mb4{
	background-image: url(img/portfolio-3.jpg);
	background-size: Cover;
}
#mb5{
	background-image: url(img/portfolio-4.jpg);
	background-size: Cover;
}
#mb6{
	background-image: url(img/portfolio-6.jpg);
	background-size: Cover;
}
#mb7{
	background-image: url(img/portfolio-7.jpg);
	background-size: Cover;
}
#mb8{
	background-image: url(img/portfolio-8.jpg);
	background-size: Cover;
}










.load {
//border: 4px solid yellow;
     height: 100px;
     background-color: #F5F5F5;
	 width: 1440px;
     text-align: center;
   
}

.h  {
margin: 0;
padding-top: 40px;
color: #8e8e8e;
}










.video  {
          height: 840px;
          margin-top: 90px;
          text-align: center;
          
}

.player {
    height: 658px;
    width: 1170px;
	margin: 0 auto;
    margin-top: 50px;
    background-color: #E5E5E5;
	
	//background-image: url(img/portfolio-single-6.jpg);
	background-position: left;
	background-size: 100% 100%;
}


//.player:active {
//	controls: "controls";
//}









.f  {
//border: 4px solid black;
    height: 460px;
    margin-top: 90px;
    padding-top: 110px;
    text-align: center;          
    background-color: #F5F5F5;
}

.minif  {
//border: 4px solid red;
	height: 230px;
	display: flex;
}

.bf	{
//border: 4px solid blue;
	 width: 25vw;//360px;
}











.blue2	{
	    height: 400px;
	    background-color: #00cac4;
	    color: #ffffff;
	    text-align: center;  
	    padding-top: 120px;
}

			










.w	{
//border: 4px solid red;
	height: 200px;
	display: flex;
}

.l	{
//border: 4px solid pink;
	width: 25vw;//288px;
	text-align: center; 
	padding-top: 63px;
}











.login	{
	height: 752px;
	background-color: #f5f5f5;
	text-align: center; 
	padding-top: 93px;
}

.forms	{
//border: 4px solid red;
	margin: 0 auto;
	margin-top: 40px;
	//width: 691px;
	//height: 439px; 	
}








.inf   {
	height: 200px;
	display: flex;
	background-color: #141414;	
	color: #bcbcbc;
	padding-top: 60px; 
	//text-align: center;
}

.inf h3  {
	//margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.t1	{
//border: 4px solid red;
	position: absolute;
    left: 100px;
	//margin-left: 96px;
	//margin-right: 390px;
}

.t2	{
//border: 4px solid red;
	margin: 0 auto;
	//margin-left: 140px;
	//margin-right: 59px;
}

.t3	{
//border: 4px solid red;
	position: absolute;
    right: 100px;
	//margin-left: 500px;
}
