body {
	padding: 0;
	margin: 0;
}

.MAIN {
//border: 4px solid pink;
	//width: 1440px;
	margin: 0 auto;
}

.main_menu {
//border: 4px solid violet;
	height: 100px;
}


.logo {
//border: 4px solid red;
	width: 7%;
}

.container {
//border: 4px solid pink;
	width:  81vw;//1170px;
	margin: 0 auto;
	height: 662px;
}

.nav {
//border: 4px solid green;	
	display: flex;
	align-items: center;
	padding-top: 17px;
}

.menu {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
}

.menu li {
	font-size: 12px;
	margin-right: 25px;
}

.menu li a {
	color: #000;

}


.menu li a:hover {
	color: #1ecbc6;
}


a {
	text-decoration: none;
}


ul,li {
	display: block;
}

















.miniBOX1 {
//border: 4px solid green;
    height: 427px;
    display: flex;
}


.serii {
//border: 4px solid red;
     width: 25vw;
    // background-color: #848484;
}


.belii {
//border: 4px solid pink;
     width: 25vw;
    // background-color: #DEDEDE ;
}

.sinii {
//border: 4px solid pink;
     width: 25vw;
    // background-color: #21bfb9;
     text-align: center;
     padding-top: 145px;    
}

@media screen and (max-width: 1500px) {

.miniBOX1 {
//border: 4px solid green;
    height: 320px;//22vw;//
    display: flex;
}

}

#mb1{
	background-image: url(../img/portfolio-1.jpg);
	background-size: Cover;
}
#mb2{
	background-image: url(../img/portfolio-2.jpg);
	background-position: left;
	background-size: Cover;
}
#mb3{
	background-image: url(../img/portfolio-5.jpg);
	background-position: left;
	background-size: 100% 143%;
}
#mb4{
	background-image: url(../img/portfolio-3.jpg);
	background-size: Cover;
}
#mb5{
	background-image: url(../img/portfolio-4.jpg);
	background-size: Cover;
}
#mb6{
	background-image: url(../img/portfolio-6.jpg);
	background-size: Cover;
}
#mb7{
	background-image: url(../img/portfolio-7.jpg);
	background-size: Cover;
}
#mb8{
	background-image: url(../img/portfolio-8.jpg);
	background-size: Cover;
}
#mb9{
	background-image: url(../img/portfolio-9.jpg);
	background-size: Cover;
}
#mb10{
	background-image: url(../img/portfolio-10.jpg);
	background-position: left;
	background-size: Cover;
}
#mb11{
	background-image: url(../img/portfolio-11.jpg);
	background-size: Cover;
}
#mb12{
	background-image: url(../img/portfolio-12.jpg);
	background-size: Cover;
}









.login	{
	height: 230px;
	background-color: #f5f5f5;
	text-align: center; 
	padding-top: 93px;
}

.forms	{
//border: 4px solid red;
	margin: 0 auto;
	margin-top: 40px;
	width: 691px;
	height: 439px; 	
}













.inf   {
	height: 100px;
	display: flex;
	background-color: #141414;	
	color: #bcbcbc;
	padding-top: 60px; 
	//text-align: center;
}

.inf h3  {
	//margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.t1	{
//border: 4px solid red;
	position: absolute;
    left: 100px;
	//margin-left: 96px;
	//margin-right: 390px;
}

.t2	{
//border: 4px solid red;
	margin: 0 auto;
	//margin-left: 140px;
	//margin-right: 59px;
}

.t3	{
//border: 4px solid red;
	position: absolute;
    right: 100px;
	//margin-left: 500px;
}