body {
    //background: url("/public/images/bg1.jpg") repeat;
    font-size: 20px;
    color: #333;
    font-family: Arial, serif;
}

p {
    line-height: 1.5;
    margin: 30px 0 0 0;
}

p a {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    font-family: Arial, sans-serif;
}

a {
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

a:focus,
a:hover {
    color: #0085a1;
}

a img:focus,
a img:hover {
    cursor: zoom-in
}

blockquote {
    font-style: italic;
    color: #777
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

::-moz-selection {
    color: #fff;
    background: #0085a1;
    text-shadow: none
}

::selection {
    color: #fff;
    background: #0085a1;
    text-shadow: none
}

img::selection {
    color: #fff;
    background: 0 0
}

img::-moz-selection {
    color: #fff;
    background: 0 0
}

body {
    -webkit-tap-highlight-color: #0085a1
}

#mainNav {
    position: absolute;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-family: Times New Roman;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #777
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #777
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 12px;
    //font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0
    }
    #mainNav .navbar-brand {
        padding: 15px 20px;
        color: #fff
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, .8)
    }
    #mainNav .navbar-nav>li.nav-item>a {
        padding: 15px 20px;
        color: #000;
    }
    #mainNav .navbar-nav>li.nav-item>a:focus,
    #mainNav .navbar-nav>li.nav-item>a:hover {
        color: #4e92ab
    }
}

@media only screen and (min-width:1170px) {
    #mainNav {
        -webkit-transition: background-color .2s;
        -moz-transition: background-color .2s;
        transition: background-color .2s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden
    }
    #mainNav.is-fixed {
        position: fixed;
        top: -77px;
        -webkit-transition: -webkit-transform .2s;
        -moz-transition: -moz-transform .2s;
        transition: transform .2s;
        border-bottom: 1px solid #fff;
        background-color: rgba(255, 255, 255, .9)
    }
    #mainNav.is-fixed .navbar-brand {
        color: #333
    }
    #mainNav.is-fixed .navbar-brand:focus,
    #mainNav.is-fixed .navbar-brand:hover {
        color: #0085a1
    }
    #mainNav.is-fixed .navbar-nav>li.nav-item>a {
        color: #333
    }
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,
    #mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
        color: #0085a1
    }
    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #777;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: #fff
}

@media only screen and (min-width:768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: Arial, sans-serif
}

@media only screen and (min-width:768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px
    }
}

header.masthead .post-heading h1 {
    font-size: 35px
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: Arial, sans-serif
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: Arial, serif
}

header.masthead .post-heading .meta a {
    color: #fff
}

@media only screen and (min-width:768px) {
    header.masthead .post-heading h1 {
        font-size: 55px
    }
    header.masthead .post-heading .subheading {
        font-size: 30px
    }
}

.post-preview>a {
    color: #333
}

.post-preview>a:focus,
.post-preview>a:hover {
    text-decoration: none;
    color: #0085a1
}

.post-preview>a>.post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px
}

.post-preview>a>.post-subtitle {
    font-weight: 300;
    margin: 0 0 10px
}

.post-preview>.post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #777
}

.post-preview>.post-meta>a {
    text-decoration: none;
    color: #333
}

.post-preview>.post-meta>a:focus,
.post-preview>.post-meta>a:hover {
    text-decoration: underline;
    color: #0085a1
}

@media only screen and (min-width:768px) {
    .post-preview>a>.post-title {
        font-size: 36px
    }
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important;
    font-family: Arial, serif
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
    color: #777;
    font-family: Arial, serif
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group .help-block {
    margin: 15px 0
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #0085a1
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #eee
}

footer {
    padding: 50px 0 65px
}

footer .list-inline {
    margin: 0;
    padding: 0
}

footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center
}

.btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: Arial, sans-serif
}

.btn-primary {
    color: #fff;
    border-color: #0085a1;
    background-color: #0085a1
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    border-color: #001c22;
    background-color: #005b6e
}

.btn-primary:hover {
    color: #fff;
    border-color: #005264;
    background-color: #005b6e
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #005264;
    background-color: #005b6e
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    border-color: #001c22;
    background-color: #003d4a
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #0085a1;
    background-color: #0085a1
}

.btn-primary .badge {
    color: #0085a1;
    background-color: #fff
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px
}

.btn-default:focus,
.btn-default:hover {
    color: #fff;
    border: 1px solid #0085a1;
    background-color: #0085a1
}

.page-link,
.page-link:hover {
    color: #000;
}

.page-item.active .page-link {
    background: #0085A1;
    border-color: #0085A1
}
















































































































html {
    margin-left: -32px;
}

body {
	padding: 0;
	margin: 0;
}

.MAIN {
//border: 4px solid pink;
	//width: 1440px;//100vw;//
	margin: 0 auto;
}



.main_menu {
//border: 4px solid violet;
	height:88vh;//670px;//100%;//
	//background-color: #e9e9e9;

}

#mm{
	background-image: url(../img/sajjad-ahmadi-_QcV5rcc04k-unsplash.jpg);	
	background-position: right top;
	background-size: 120% 180%;
}


.logo {
//border: 4px solid red;
	width: 7%;
}


/*
.container {
//border: 4px solid pink;
	width:  81vw;//1170px;
	margin: 0 auto;
	height: 662px;
}
*/

.container {
//border: 4px solid pink;
	width:  81vw;//1170px;
	margin: 0 auto;
	//height: 662px;
}




.nav {
//border: 4px solid green;	
	display: flex;
	align-items: center;
	padding-top: 17px;
}














.menu {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
}

.menu li {
	font-size: 17px;
	margin-right: 25px;
}

.menu li a {
	color: #000;

}


.menu li a:hover {
	color: #4e92ab; //#1ecbc6;
}


a {
	text-decoration: none;
}


ul,li {
	display: block;
}









.We {
//border: 4px solid brown;
	display: flex;
	margin-top: 120px;
}

.Design_and_Develop {
//border: 4px solid yellow;
	margin-left: auto;
}

.Design_and_Develop p {
	color: #787878;
}

.Design_and_Develop a {
	background: #10c9c3;
	color: #000;
	width: 218px;
	display: block;
	text-align: center;
	padding: 17px 0;
	transition: all 0.5s ease;
	margin-top: 35px;
}

.Design_and_Develop a:hover {
	background: #eccb2e;
}








.about_us { 
//border: 4px solid yellow;
	height: 418px;
	text-align: center;

}

.container2 {
//border: 4px solid pink;
	width: 1170px;
	margin: 0 auto;
}


.Divide { 
//border: 4px solid black;
    margin-top: 90px;
}






















.BOX {
	//border: 4px solid green;
    height: 760px;//40vh;
    display: flex;
    margin-left: 16px;
    width: 100vw;
	}




@media screen and (max-width: 1500px) {

	.BOX {
	//border: 4px solid green;
    height: 570px;//40vh;
    display: flex;
    //margin-left: -16px;
    width: 100vw;
	}
	
}





.box1 {
//border: 4px solid red;
     width: 50vw;//720px;
     background-color: #f8faf9;
}


.box2 {
//border: 4px solid pink;
     width: 50vw;//720px;
     background-color: #e9e9e9;
	 
	background-image: url(../img/zeke-tucker-Vy4lR2NhfX0-unsplash.jpg);	
	background-size: Cover;
}

.box11 {
//border: 4px solid orange;
     width: 50vw;//400px;
     margin-left: 115px;
     margin-top: 100px;
}














.blue {
//border: 4px solid yellow;
     height: 140px;
     background-color: #00cac4;
	 //width: 100vw;//1440px;

     

	display: flex;
	padding-top: 50px;


}
.menu2 {
//border: 4px solid orange;
	display: flex;
	margin-left: auto;
	color: #ffffff;
}

.menu2 li {
	font-size: 12px;

}

.menu2 li a {
	color: #ffffff;
}

.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 11vw;//130px;//11vw;
}

@media screen and (max-width: 1500px) {

	.menu2 img {
     	    margin-right: 2vw;//25px;
            margin-left: 9vw;//130px;//11vw;
	}

}










.miniBOX1 {
//border: 4px solid green;
    height: 427px;
    display: flex;
}

@media screen and (max-width: 1500px) {
.miniBOX1 {
//border: 4px solid green;
    height: 320px;
    display: flex;
}
}

.serii {
//border: 4px solid red;
     width: 26vw;// 360px;
     //background-color: #848484;	
}


.belii {
//border: 4px solid pink;
     width: 26vw;// 360px;
     background-color: #DEDEDE ;
}

.chornii {
//border: 4px solid pink;
     width: 26vw;//360px;
     //background-color: #202020;
     text-align: center;
     padding-top: 145px;    
}

#mb1{
	background-image: url(../img/portfolio-1.jpg);
	background-size: Cover;
}
#mb2{
	background-image: url(../img/portfolio-2.jpg);
	background-size: Cover;
}
#mb3{
	background-image: url(../img/portfolio-5.jpg);
	background-position: left;
	background-size: 100% 143%;
}
#mb4{
	background-image: url(../img/portfolio-3.jpg);
	background-size: Cover;
}
#mb5{
	background-image: url(../img/portfolio-4.jpg);
	background-size: Cover;
}
#mb6{
	background-image: url(../img/portfolio-6.jpg);
	background-size: Cover;
	width: 26vw;
}
#mb7{
	background-image: url(../img/portfolio-7.jpg);
	background-size: Cover;
}
#mb8{
	background-image: url(../img/portfolio-8.jpg);
	background-size: Cover;
}
#mb9{
	background-image: url(../img/portfolio-9.jpg);
	background-size: Cover;
}
#mb10{
	background-image: url(../img/portfolio-10.jpg);
	background-position: left;
	background-size: Cover;
}
#mb11{
	background-image: url(../img/portfolio-11.jpg);
	background-size: Cover;
}
#mb12{
	background-image: url(../img/portfolio-12.jpg);
	background-size: Cover;
}









.load {
//border: 4px solid yellow;
     height: 100px;
     background-color: #F5F5F5;
	 width: 1440px;
     text-align: center;
   
}

.h  {
margin: 0;
padding-top: 40px;
color: #8e8e8e;
}










.video  {
          height: 840px;
          margin-top: 90px;
          text-align: center;
          
}

.player {
    height: 658px;
    width: 1170px;
	margin: 0 auto;
    margin-top: 50px;
    background-color: #E5E5E5;
	
	//background-image: url(../img/portfolio-single-6.jpg);
	background-position: left;
	background-size: 100% 100%;
}


//.player:active {
//	controls: "controls";
//}









.f  {
//border: 4px solid black;
    height: 590px;
    //margin-top: 90px;
    padding-top: 110px;
    text-align: center;          
    background-color: #F5F5F5;
}

.minif  {
//border: 4px solid red;
	height: 230px;
	display: flex;
}

.bf	{
//border: 4px solid blue;
	 width: 25vw;//360px;
}











.blue2	{
	    height: 400px;
	    background-color: #00cac4;
	    color: #ffffff;
	    text-align: center;  
	    padding-top: 120px;
}

			










.w	{
//border: 4px solid red;
	height: 200px;
	display: flex;
}

.l	{
//border: 4px solid pink;
	width: 25vw;//288px;
	text-align: center; 
	padding-top: 63px;
}











.login	{
	height: 425px;
	background-color: #f5f5f5;
	text-align: center; 
	padding-top: 93px;
}

.forms	{
//border: 4px solid red;
	margin: 0 auto;
	margin-top: 40px;
	//width: 691px;
	//height: 439px; 	
}








.inf   {
	height: 200px;
	display: flex;
	background-color: #141414;	
	color: #bcbcbc;
	padding-top: 60px; 
	//text-align: center;
}

.inf h3  {
	margin-block-start: 0.8em;
    margin-block-end: 0em;
}

.t1	{
//border: 4px solid red;
	position: absolute;
    left: 100px;
	//margin-left: 96px;
	//margin-right: 390px;
}

.t2	{
//border: 4px solid red;
	margin: 0 auto;
	//margin-left: 140px;
	//margin-right: 59px;
}

.t3	{
//border: 4px solid red;
	position: absolute;
    right: 100px;
	//margin-left: 500px;
}

@media only screen and (max-width:1900px) {
.med {
	margin-right: 2vw;
    margin-left: 9vw;
}
}
@media only screen and (min-width:1900px) {

.med {
	margin-right: 3vw;
    margin-left: 10vw;
}

}
